@using DevExpress.Web.Mvc.UI;

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Message</h2>

<script type="text/javascript">

    function OnProductsBeginCallback(s, e) {
        var index = MasterGridView.GetFocusedRowIndex();
        var focusedRowKey = MasterGridView.GetRowKey(index);
        if (focusedRowKey != null) {
            e.customArgs["Id_Master"] = focusedRowKey;
        }
    }
    function SelectionChanged(s, e) {
        DetailGridView.PerformCallback();
    }

    function onComboBoxSelectedIndexChanged(s, e) {
        //alert("asdf");
        //lbTest.SetVisible(false);
        //document.getElementById('lbTest').style.visibility = 'hidden';
        //document.getElementById("lbTest").style.display = "block";
        //panelMultiBranch.SetVisible(!checked);
    };
    $(document).ready(function () {
        $("#lbTest").css("visibility", "hidden");
        $(".divShowHide").css("visibility", "hidden");
    });

    function onComboBoxValueChanged(s, e) {
        //alert(ComboBox.GetValue());
        switch (ComboBox.GetValue()) {
            case "Item 0":
                $("#lbTest").css("visibility", "hidden");
                $("#divShowHide").hide();
                break;
            case "Item 1":
                $("#lbTest").css("visibility", "visible");
                $("#divShowHide").show();
                break;
            default:
        }
        //lbTest.SetVisible(false);
        //Text.SetVisible(false);
        //document.getElementById('lbTest').style.visibility = 'hidden';
        //lbTest.SetVisible(false);
        ////alert("asdf");
        //alert("asdf");
        //lbTest.SetVisible(false);
        //document.getElementById('lbTest').style.visibility = 'hidden';
        //document.getElementById("lbTest").style.display = "block";
        //function showHide() {
        //    if (document.getElementById('cbMultiBranch').checked == true) {
        //        document.getElementById('cbBranch').style.visibility = "visible";
        //        document.getElementById("panelMultiBranch").style.display = "none";
        //    } else {
        //        document.getElementById('cbBranch').style.visibility = 'hidden';
        //        document.getElementById("panelMultiBranch").style.display = "block";
        //    }

        //}

        //$("#hide").click(function () {
        //    $("p").hide();
        //});
        // # = id .= class
        //$("#show").click(function () {
        //    $("p").show();
        //});
    }
</script>


@Html.DevExpress().RoundPanel(settings =>
{
    settings.Name = "RoundPanel";
    settings.HeaderText = "Header";
    settings.ShowHeader = false;
    settings.ControlStyle.BorderTop.BorderWidth = 0;
    settings.ControlStyle.BorderBottom.BorderWidth = 0;
    settings.ControlStyle.BorderLeft.BorderWidth = 0;
    settings.ControlStyle.BorderRight.BorderWidth = 0;
    settings.SetContent(() =>
    {
        Html.RenderPartial("_MasterGridViewPartial", ViewData["CategoryList"]);

        Html.RenderPartial("_DetailPartial", ViewData["ProductList"]);
    });
}).GetHtml()

@Html.DevExpress().ComboBox(settings =>
{
    settings.Name = "ComboBox";
    settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
    settings.Properties.DropDownStyle = DropDownStyle.DropDown;
    settings.Properties.EnableClientSideAPI = true;
    settings.Properties.ClientSideEvents.SelectedIndexChanged
        = "onComboBoxSelectedIndexChanged";
    settings.Properties.ClientSideEvents.ValueChanged
        = "onComboBoxValueChanged";
    settings.SelectedIndex = 0;
    settings.Properties.Items.Add("Item 0");
    settings.Properties.Items.Add("Item 1");
    settings.Properties.Items.Add("Item 2");
}).GetHtml()
@Html.DevExpress().Label(settings =>
{
    settings.Name = "lbTest";
    settings.Text = "Text";
}).GetHtml()
<div id="divShowHide">
    @Html.DevExpress().Label(settings =>
{
    settings.Name = "lbTest1";
    settings.Text = "Text";
}).GetHtml()
</div>
<div class="divShowHide1">

    @Html.DevExpress().Label(settings =>
{
    settings.Name = "asdfasd";
    settings.Text = "lbTest1";
}).GetHtml()
</div>
<div class="divShowHide">
    @Html.DevExpress().Label(settings =>
{
    settings.Name = "xcvzxc";
    settings.Text = "lbTest2";
}).GetHtml()
</div>

@*@Html.DevExpress().Splitter(
    settings =>
    {
        settings.Name = "spliter";

        settings.Height = 1000;
        settings.Width = 400;
        settings.Orientation = System.Web.UI.WebControls.Orientation.Vertical;
        settings.SeparatorVisible = false;
        settings.ShowCollapseBackwardButton = false;
        settings.ShowCollapseForwardButton = false;
        settings.ShowSeparatorImage = false;
        //settings.ClientSideEvents.Init = "OnActiveTabChanging";
        settings.Panes.Add(pane =>
        {
            pane.Name = "Pane 0";
            pane.SetContent(() =>
            {
                @Html.RenderPartial("GridCategories", ViewData["CategoryList"]);

                @Html.RenderPartial("GridProducts", ViewData["ProductList"]);

            });
        });
        settings.Panes.Add(pane =>
        {
            pane.Name = "Pane 1";
            pane.SetContent(() =>
            {

            });

        });
    }).GetHtml()*@
@*@Html.DevExpress().PageControl( settings => {
	settings.Name = "PageControl";
	settings.TabPages.Add("Categories").SetContent(() => {
        @Html.RenderPartial("GridCategories", ViewData["CategoryList"]);
	});
	settings.TabPages.Add("Products").SetContent(() => {
        @Html.RenderPartial("GridProducts", ViewData["ProductList"]);
	});

	settings.ClientSideEvents.ActiveTabChanging = "OnActiveTabChanging";	
}).GetHtml()*@
