<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.6.2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    @Html.DevExpress().GetStyleSheets(
        new StyleSheet { ExtensionSuite = ExtensionSuite.All }
    )
    @Html.DevExpress().GetScripts(
        new Script { ExtensionSuite = ExtensionSuite.All }
    ) 
</head>
<body>
<div>
    @Html.DevExpress().ComboBox(settings =>
{
    settings.Name = "ComboBox";
    settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
    settings.Properties.DropDownStyle = DropDownStyle.DropDown;
    settings.Properties.Items.Add("Item 0");
    settings.Properties.Items.Add("Item 1");
    settings.Properties.Items.Add("Item 2");
}).GetHtml()


@*@if (Session["Culture"] != null && Session["Culture"].ToString() != "de-DE") {*@
    @Html.ActionLink("VN", "ChangeCulture", "Home", new { lang = "vi-VN", returnUrl = this.Request.RawUrl }, null);

	@Html.ActionLink("DE", "ChangeCulture", "Home", new {lang = "de-DE", returnUrl = this.Request.RawUrl}, null);
@*} else {*@
    @Html.ActionLink("EN", "ChangeCulture", "Home", new { lang = "en", returnUrl = this.Request.RawUrl }, null);
@*}*@
</div>
    @RenderBody()
</body>
</html>